body{
background-color: hsl(185, 75%, 39%);
overflow: hidden;



}
.bottom{
position: relative;
right: -110vh;
width: 100vh;
top: 40vh;
}
.top{
position: relative;
bottom: 155vh;
right: 35vh;
}
.container{
background-color: white;
position: relative;
bottom: 200vh;
left: 75vh;
width: 23vw;
border-radius: 35px;
-webkit-box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.75);
box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.75);

}
.cabecalho{
background-image: url("./images/bg-pattern-card.svg");
height: 20vh;
border-radius: 35px 35px 0 0;
width: 23vw;
}
.victor{
position: relative;
bottom: 10vh;
left: 18vh;
border-radius: 50px;
}
th,td{
position: relative;
padding: 8px;
left: 8vh;
bottom: 2vh;
}
table{
margin: 1rem 1rem;

}
p{
position: relative;
left: 17vh;
bottom: 10vh;
}
.london{
color: darkgrey;
}


    
